* {
  padding: 0;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: none;
}

body {
  background-color: rgb(118, 115, 115);
}

.Main {
  height: 100%;
  height: 100vh;
  border: solid rgb(118, 115, 115) 10px;
  border-radius: 10px;
  border-radius: 2px 4px 0 0;
}

.homeMain {
  background: linear-gradient(
    104deg,
    rgba(181, 126, 54, 1) 17%,
    rgba(140, 117, 63, 1) 88%
  );
}

.skillsMain {
  background: linear-gradient(
    104deg,
    rgba(135, 200, 156, 1) 17%,
    rgba(94, 94, 144, 1) 73%
  );
}

.projectsMain {
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}

.aboutMain {
  background: linear-gradient(
    104deg,
    rgba(72, 125, 150, 1) 43%,
    rgba(39, 101, 64, 1) 64%
  );
}
header {
  background-color: rgb(35, 66, 89);
}

li {
  list-style: none;
}

a {
  color: antiquewhite;
  text-decoration: none;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-branding {
  font-size: 2rem;
}

.nav-link {
  transition: 0.4s ease-in-out;
}

.nav-link:hover {
  color: rgb(174, 139, 97);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: antiquewhite;
  border-radius: 10px;
}

@media (max-width: 900px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(50deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-50deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: rgb(35, 66, 89);
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }
}
