@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Stick No Bills', sans-serif;
  background-color: none;
  color: antiquewhite;
  height: auto;
  width: auto;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  background-color: rgb(118, 115, 115);
}

.Main {
  width: 100%;
  border: solid rgb(118, 115, 115) 10px;
  border-radius: 10px;
  border-radius: 2px 4px 0 0;
}

.location {
  font-size: 25px;
}

.header0 {
  font-size: 20px;
}

#liner {
  font-size: 20px;
}

#mainSkillsHeader {
  font-size: 40px;
  text-align: center;
}

.homeContent {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.5em;
  width: 75%;
}

.homeContent > * {
  margin: 10px;
}

.homeMainInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 800px;
  margin-top: -50px;
}

.skillsMainInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.skillsContainer {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-evenly;
  border: rgba(255, 255, 255, 0.431) solid 5px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  height: 20%;
}

.skillsContent {
  display: flex;
  flex-direction: column;
  height: 75%;
  margin-bottom: 20px;
}

.skillsHeader {
  font-size: 36px;
}

.homeHeader {
  font-size: 45px;
}

.homeInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  margin-bottom: 20px;
  height: 500px;
}

.socialIcons {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
}

.socialIcons > * {
  font-size: 30px;
}

.fa-linkedin-in {
  -webkit-animation: rotate-center 6s ease-in-out 2s infinite both;
  animation: rotate-center 6s ease-in-out 2s infinite both;
}

.fa-github {
  -webkit-animation: rotate-diagonal-2 6s linear 2s infinite both;
  animation: rotate-diagonal-2 6s linear 2s infinite both;
}

.fa-envelope {
  -webkit-animation: rotate-center 6s ease-in-out 2s reverse infinite both;
  animation: rotate-center 6s ease-in-out 2s reverse infinite both;
}

.icon {
  font-size: 45px;
  cursor: pointer;
  border-radius: 50px;
  -webkit-animation: shake-horizontal 7s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    2s infinite both;
  animation: shake-horizontal 7s cubic-bezier(0.455, 0.03, 0.515, 0.955) 2s
    infinite both;
}

.projectsHeader {
  font-size: 36px;
}

.projectsMainInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}

.projectsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  height: 400px;
  width: 500px;
}

.projectLink {
  font-size: 25px;
}

.codeLink {
  font-size: 15px;
}

.projectContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: rgba(255, 255, 255, 0.431) solid 5px;
  padding: 10px;
  border-radius: 10px;
}

.aboutInnerMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}

.aboutContent {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.aboutText {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 800px;
  border: solid rgba(255, 255, 255, 0.404) 5px;
  border-radius: 10px;
  margin: 25px;
  padding: 20px;
  font-size: 20px;
}

#aboutHeader {
  font-size: 36px;
}

#casualHeadshot {
  height: 380px;
  width: 300px;
  border-radius: 50%;
  border: solid rgba(250, 235, 215, 0.373) 10px;
}

#aboutHello {
  font-size: 30px;
}

#bigger {
  font-size: 25px;
  color: rgb(143, 118, 223);
}

.homeMain {
  background: linear-gradient(
    104deg,
    rgb(105, 154, 111) 17%,
    rgb(43, 79, 47) 88%
  );
}

.skillsMain {
  background: linear-gradient(
    104deg,
    rgb(144, 100, 43) 17%,
    rgb(116, 97, 53) 88%
  );
}

.projectsMain {
  background: linear-gradient(0deg, rgb(83, 79, 146) 17%, rgb(167, 91, 91) 73%);
}

.aboutMain {
  background: linear-gradient(
    104deg,
    rgba(135, 200, 156, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}

header {
  background-color: rgb(35, 66, 89);
}

li {
  list-style: none;
}

a {
  color: antiquewhite;
  text-decoration: none;
}

#mainHeadshot {
  height: 350px;
  width: 300px;
  border-radius: 50%;
  border: solid rgba(250, 235, 215, 0.505) 10px;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-branding {
  font-size: 2rem;
}

.nav-link {
  transition: 0.4s ease-in-out;
}

.nav-link:hover {
  color: rgb(174, 139, 97);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: antiquewhite;
  border-radius: 10px;
}

@media (max-width: 1100px) {
  .aboutContent {
    flex-direction: column;
    height: 400px;
  }

  .aboutMain {
    height: 1000px;
  }

  .aboutText {
    margin: 20px;
  }
}

@media (max-width: 900px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(50deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-50deg);
  }

  .nav-menu {
    position: absolute;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: rgb(35, 66, 89);
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }
}

@media (max-width: 800px) {
  #mainHeadshot {
    height: 250px;
    width: 200px;
  }

  .homeContent {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    max-height: 550px;
  }

  .homeInfo > * {
    font-size: 15px;
    margin: 7px;
    height: none;
  }

  .arrowToSkills {
    margin-bottom: 30px;
  }

  .homeHeader {
    font-size: 36px;
  }

  .location {
    font-size: 26px;
  }
}

@media (max-width: 500px) {
  #liner {
    font-size: 15px;
  }
  .header0 {
    font-size: 17px;
  }

  .projectsGrid {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 200px;
  }

  .aboutMain {
    height: 1200px;
  }
}

@media (max-width: 400px) {
  .header0 {
    font-size: 15px;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2023-3-20 9:10:30
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */

/* arrows */

/* ----------------------------------------------
 * Generated by Animista on 2023-3-20 9:32:42
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}
@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}

/* linkedIn Icon */

@-webkit-keyframes fa-linkedin-in {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* GitHub Icon */

@-webkit-keyframes rotate-diagonal-2 {
  0% {
    -webkit-transform: rotate3d(-1, 1, 0, 0deg);
    transform: rotate3d(-1, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: rotate3d(-1, 1, 0, 180deg);
    transform: rotate3d(-1, 1, 0, 180deg);
  }
  100% {
    -webkit-transform: rotate3d(-1, 1, 0, 360deg);
    transform: rotate3d(-1, 1, 0, 360deg);
  }
}
@keyframes rotate-diagonal-2 {
  0% {
    -webkit-transform: rotate3d(-1, 1, 0, 0deg);
    transform: rotate3d(-1, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: rotate3d(-1, 1, 0, 180deg);
    transform: rotate3d(-1, 1, 0, 180deg);
  }
  100% {
    -webkit-transform: rotate3d(-1, 1, 0, 360deg);
    transform: rotate3d(-1, 1, 0, 360deg);
  }
}

/* email icon */

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
