/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Stick No Bills', sans-serif;
  background-color: none;
  color: antiquewhite;
  height: auto;
  width: auto;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  background-color: rgb(118, 115, 115);
}

.Main {
  height: 100vh;
  width: 100%;
  border: solid rgb(118, 115, 115) 10px;
  border-radius: 10px;
  border-radius: 2px 4px 0 0;
}

.skillsMain {
  height: 100%;
}

.location {
  font-size: 25px;
}

.header0 {
  font-size: 20px;
}

#liner {
  font-size: 20px;
}

#mainSkillsHeader {
  font-size: 40px;
  text-align: center;
}

.homeContent {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  font-size: 1.5em;
  width: 75%;
}

.homeContent > * {
  margin: 10px;
}

.homeMainInner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}

.skillsMainInner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh;
}

.skillsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: left;
  -ms-flex-align: left;
  align-items: left;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  border: rgba(255, 255, 255, 0.431) solid 5px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  height: 400px;
}

.skillsContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 75vh;
  margin-bottom: 20px;
}

.skillsHeader {
  font-size: 36px;
}

.homeHeader {
  font-size: 45px;
}

.homeInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  padding: 10px;
  height: 50vh;
}

.socialIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  width: 300px;
}

.socialIcons > * {
  font-size: 30px;
}

.icon {
  font-size: 45px;
  cursor: pointer;
  border-radius: 50px;
}

.projectsHeader {
  font-size: 36px;
}

.projectsMainInner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  height: 100vh;
}

.projectsGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 15px 1fr;
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 1fr 15px 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  height: 400px;
  width: 500px;
}

.projectsGrid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.projectsGrid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.projectsGrid > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.projectsGrid > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.projectLink {
  font-size: 25px;
}

.codeLink {
  font-size: 15px;
}

.projectContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: rgba(255, 255, 255, 0.431) solid 5px;
  padding: 10px;
  border-radius: 10px;
}

.aboutInnerMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  height: 100vh;
}

.aboutContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 25px;
}

.aboutText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;

  border: solid rgba(255, 255, 255, 0.404) 5px;
  border-radius: 10px;
  margin: 25px;
  padding: 20px;
  font-size: 20px;
}

#aboutHeader {
  font-size: 36px;
}

#casualHeadshot {
  height: 380px;
  width: 300px;
  border-radius: 50%;
  border: solid rgba(250, 235, 215, 0.373) 10px;
}

#aboutHello {
  font-size: 30px;
}

#bigger {
  font-size: 25px;
}

.homeMain {
  background: -o-linear-gradient(
    346deg,
    rgb(105, 154, 111) 17%,
    rgb(43, 79, 47) 88%
  );
  background: linear-gradient(
    104deg,
    rgb(105, 154, 111) 17%,
    rgb(43, 79, 47) 88%
  );
}

.skillsMain {
  background: -o-linear-gradient(
    346deg,
    rgb(144, 100, 43) 17%,
    rgb(116, 97, 53) 88%
  );
  background: linear-gradient(
    104deg,
    rgb(144, 100, 43) 17%,
    rgb(116, 97, 53) 88%
  );
}

.projectsMain {
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(17%, rgb(83, 79, 146)),
    color-stop(73%, rgb(167, 91, 91))
  );
  background: -o-linear-gradient(
    bottom,
    rgb(83, 79, 146) 17%,
    rgb(167, 91, 91) 73%
  );
  background: linear-gradient(0deg, rgb(83, 79, 146) 17%, rgb(167, 91, 91) 73%);
}

.aboutMain {
  background: -o-linear-gradient(
    346deg,
    rgba(135, 200, 156, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  background: linear-gradient(
    104deg,
    rgba(135, 200, 156, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}

header {
  background-color: rgb(35, 66, 89);
}

li {
  list-style: none;
}

a {
  color: antiquewhite;
  text-decoration: none;
}

#mainHeadshot {
  height: 350px;
  width: 300px;
  border-radius: 50%;
  border: solid rgba(250, 235, 215, 0.505) 10px;
}

.navbar {
  min-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 60px;
}

.nav-branding {
  font-size: 2rem;
}

.nav-link {
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.nav-link:hover {
  color: rgb(174, 139, 97);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: antiquewhite;
  border-radius: 10px;
}

@media (max-width: 1100px) {
  .aboutContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 400px;
  }

  .aboutMain {
    height: 1000px;
  }

  .aboutText {
    margin: 20px;
  }
}

@media (max-width: 900px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(50deg);
    -ms-transform: translateY(8px) rotate(50deg);
    transform: translateY(8px) rotate(50deg);
  }
  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-50deg);
    -ms-transform: translateY(-8px) rotate(-50deg);
    transform: translateY(-8px) rotate(-50deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: rgb(35, 66, 89);
    width: 100%;
    text-align: center;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }
}

@media (max-width: 800px) {
  #mainHeadshot {
    height: 250px;
    width: 200px;
  }

  .homeContent {
    height: 500px;
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }

  .homeInfo > * {
    font-size: 15px;
    margin: 7px;
  }

  .homeHeader {
    font-size: 36px;
  }

  .location {
    font-size: 26px;
  }
  .arrowToSkills {
    margin-top: 10px;
  }
}

@media (max-width: 500px) {
  #liner {
    font-size: 15px;
  }
  .header0 {
    font-size: 17px;
  }

  .projectsGrid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 400px;
    width: 200px;
  }

  .aboutMain {
    height: 1200px;
  }
}

@media (max-width: 400px) {
  .header0 {
    font-size: 15px;
  }
}
